{% extends 'base.html.twig' %}

{% block title %}Book Info{% endblock %}

{% block body%}
<div class="container border rounded rounded-5 p-3 w-50">
    <div class="d-flex justify-content-center flex-column">
        <div class="d-flex justify-content-center">
            {% if book.name == 'Mistborn' %}
                <img class="img-fluid" src="{{ asset('img/mistborn.jpg') }}">
            {% elseif book.name == 'Lord Of The Rings' %}
                <img class="img-fluid" src="{{ asset('img/lordOfTheRings.jpg') }}">
            {% else %}
                <img class="img-fluid" src="{{ asset('img/asoiaf.jpg') }}">
            {% endif %}
        </div>
        <div>
            <h2 class="text-center">Metadados</h2>
            <ul>
                <li class="h3">Name: {{ book.name }}</li>
                <li class="h4">Author: {{ book.author.name }}</li>
                <li class="h4">Genre: {{ book.genre.name }}</li>
            </ul>
            <p class="fst-italic">
                {{ book.sinopse }}
            </p>
        </div>
        <div class="d-flex justify-content-around my-5">
            <a class="btn btn-warning" href="{{ path('book.edit',{id: book.id}) }}">
                Edit
                {{ ux_icon('bi:pencil-square',{style: 'height: 1rem'}) }}
            </a>
            <form action="{{ path('book.delete',{id: book.id}) }}" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger">
                    Delete
                    {{ ux_icon('bi:trash', {style: 'height: 1rem'})}}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
